<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="chat-box">
        <div class="chat-box-header">
            <h3>Message Us</h3>
            <p><i class="fa fa-times"></i></p>
        </div>
        <div class="chat-box-body">
            <div class="chat-box-body-send">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-receive">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-receive">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-send">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-send">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-receive">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-receive">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
            <div class="chat-box-body-send">
                <p>This is my message.</p>
                <span>12:00</span>
            </div>
        </div>
        <div class="chat-box-footer">
            <button id="addExtra"><i class="fa fa-plus"></i></button>
            <input placeholder="Enter Your Message" type="text">
            <i class="send far fa-paper-plane"></i>
        </div>
    </div>
    <div class="chat-button"><span></span></div>
    <div class="modal">
        <div class="modal-content">
            <span class="modal-close-button">&times;</span>
            <h1>Add What you want here.</h1>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('.chat-button').on('click', function() {
            $('.chat-button').css({
                "display": "none"
            });
            $('.chat-box').css({
                "visibility": "visible"
            });
        });
        $('.chat-box .chat-box-header p').on('click', function() {
            $('.chat-button').css({
                "display": "block"
            });
            $('.chat-box').css({
                "visibility": "hidden"
            });
        });
        $("#addExtra").on("click", function() {
            $(".modal").toggleClass("show-modal");
        });
        $(".modal-close-button").on("click", function() {
            $(".modal").toggleClass("show-modal");
        });
    </script>
</body>
</html>